In [1]:
import pandas as pd
import numpy as np

Reading and writing data in text format

In [5]:
!cat ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [8]:
df = pd.read_csv('ex1.csv')     # Comma-sperated file does not need to specify the delimiter

In [9]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
!cat ex2.csv     # .csv file without a header

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [14]:
# We need to specify the column names either through setting header or through names
df = pd.read_csv('ex2.csv', header = None)
df

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [26]:
df = pd.read_csv('ex2.csv', names=['a','b','c','d','message'], index_col='message')
df

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [27]:
!cat csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [29]:
parsed = pd.read_csv('csv_mindex.csv', index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [33]:
list(open('ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [34]:
pd.read_table('ex3.txt', sep='\s+')     # Setting parser for loading arbitrary delimiters

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [36]:
!cat ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [39]:
pd.read_csv('ex4.csv', skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [41]:
# Handle missing values that are etiher not present or marked by sentinel values
!cat ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [43]:
result = pd.read_csv('ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [44]:
result = pd.read_csv('ex5.csv', na_values='NULL')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [65]:
# Sometimes it might be necessary to read out a large file. Efficient reading and index is important
chunker = pd.read_csv('ex6.csv', chunksize = 1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    
tot = tot.sort_values(ascending=False)
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

Writting data out to text format

In [67]:
data = pd.read_csv('ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [68]:
data.to_csv('out.csv')

In [69]:
!cat out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [70]:
import sys

In [71]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [72]:
data.to_csv(sys.stdout, na_rep='Null')

,something,a,b,c,d,message
0,one,1,2,3.0,4,Null
1,two,5,6,Null,8,world
2,three,9,10,11.0,12,foo

In [73]:
data.to_csv(sys.stdout, index=False, columns=list('abc'))

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [78]:
# Save series to csv
dates = pd.date_range('1/1/2000', periods = 7)
dates

In [82]:
ts = pd.Series(np.arange(7), index=dates)
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int64

In [83]:
ts.to_csv('tseries.csv')

Manually work with delimited formats

In [84]:
!cat ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [96]:
import csv
f = open('ex7.csv')

reader = csv.reader(f)
lines = list(reader)

In [97]:
header, value = lines[0], lines[1:]

In [98]:
header

['a', 'b', 'c']

In [99]:
value

[['1', '2', '3'], ['1', '2', '3', '4']]

In [102]:
data_dict = {h:v for h, v in zip(header, zip(*value))}

In [103]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [104]:
data = pd.DataFrame(data_dict)

In [105]:
data

   a  b  c
0  1  2  3
1  1  2  3

JSON Data: Java Script Object Notation

In [106]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 29, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [111]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 29, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
  {'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]}

Interacting with Database

In [115]:
import sqlite3

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-116-dec5b71c0570>, line 1)