In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

### Handle missing data

Both nan and NA sentinel values are considered as missing data. Useful pandas function for identifying missing values are isnull, dropna, fillna, notnull

In [6]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])

In [7]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [8]:
string_data[0] = None

In [10]:
string_data

0         None
1    artichoke
2          NaN
3      avocado
dtype: object

In [11]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

Filtering out missing data

In [13]:
from numpy import nan as NA

In [14]:
data = pd.Series([1, 3.5, NA, 7, NA])

In [15]:
data

0    1.0
1    3.5
2    NaN
3    7.0
4    NaN
dtype: float64

In [16]:
data.dropna()

0    1.0
1    3.5
3    7.0
dtype: float64

In [17]:
data[data.notnull()]

0    1.0
1    3.5
3    7.0
dtype: float64

For dataframe, dropna by default drop along column

In [20]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
   ....:                      [NA, NA, NA], [NA, 6.5, 3.]])

In [21]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [22]:
cleaned = data.dropna()

In [23]:
cleaned

     0    1    2
0  1.0  6.5  3.0

In [25]:
cleaned = data.dropna(how='all')

In [26]:
cleaned

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [31]:
data[4]=NA

In [32]:
cleaned = data.dropna(axis=1, how='all')

In [33]:
cleaned

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [47]:
df = pd.DataFrame(np.random.rand(7,3))

In [48]:
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA

In [49]:
df

          0         1         2
0  0.921517       NaN       NaN
1  0.765766       NaN       NaN
2  0.824091       NaN  0.624342
3  0.420460       NaN  0.735419
4  0.364413  0.090528  0.006611
5  0.609724  0.935816  0.989433
6  0.285759  0.019092  0.408151

In [51]:
df.dropna(thresh=2)    # thresh determines how many values per row needs to be kept

          0         1         2
2  0.824091       NaN  0.624342
3  0.420460       NaN  0.735419
4  0.364413  0.090528  0.006611
5  0.609724  0.935816  0.989433
6  0.285759  0.019092  0.408151

Filling missing values

In [52]:
df.fillna(0)

          0         1         2
0  0.921517  0.000000  0.000000
1  0.765766  0.000000  0.000000
2  0.824091  0.000000  0.624342
3  0.420460  0.000000  0.735419
4  0.364413  0.090528  0.006611
5  0.609724  0.935816  0.989433
6  0.285759  0.019092  0.408151

In [55]:
df.fillna({1: 0.5, 2: 0}, inplace=True)

          0         1         2
0  0.921517  0.500000  0.000000
1  0.765766  0.500000  0.000000
2  0.824091  0.500000  0.624342
3  0.420460  0.500000  0.735419
4  0.364413  0.090528  0.006611
5  0.609724  0.935816  0.989433
6  0.285759  0.019092  0.408151

In [56]:
df

          0         1         2
0  0.921517  0.500000  0.000000
1  0.765766  0.500000  0.000000
2  0.824091  0.500000  0.624342
3  0.420460  0.500000  0.735419
4  0.364413  0.090528  0.006611
5  0.609724  0.935816  0.989433
6  0.285759  0.019092  0.408151

###  Data tranformation

Identify duplicate data

In [58]:
df = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'], 'k2': [1,1,2,2,3,4,4]})

In [59]:
df

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   2
4  one   3
5  two   4
6  two   4

In [60]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [61]:
df.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   2
4  one   3
5  two   4

In [63]:
df['v1'] = range(7)

In [64]:
df

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   2   3
4  one   3   4
5  two   4   5
6  two   4   6

In [65]:
df.drop_duplicates(['k1', 'k2'])

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   2   3
4  one   3   4
5  two   4   5

Transform data using funciton or mapping

In [66]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami',
   ....:                               'corned beef', 'Bacon', 'pastrami',
   ....:                               'honey ham', 'nova lox'],
   ....:                      'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [67]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [68]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

In [69]:
lowcased = data['food'].str.lower()

In [71]:
lowcased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [73]:
data['animal'] = lowcased.map(meat_to_animal)

In [74]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [78]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

Replacing values

Comparing with fillna and map, replacing could perform more specific operations

In [80]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])

In [81]:
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [83]:
data.replace(-999, NA)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [84]:
data.replace([-999, -1000], [NA, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [85]:
data.replace({-999: NA, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

Renaming axis indexes

In [86]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
   ....:                     index=['Ohio', 'Colorado', 'New York'],
   ....:                     columns=['one', 'two', 'three', 'four'])

In [87]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [88]:
transform = lambda x: x[:4].upper()

In [91]:
data.index = data.index.map(transform)

In [92]:
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [95]:
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

In [96]:
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

Discretization and binning

In [97]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [98]:
bins = [18, 25, 35, 60, 100]

In [99]:
cats = pd.cut(ages, bins)

In [100]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, object): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

pd.cut returns a categorical object

In [101]:
cats.value_counts()

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

Detecting and filtering outliers

In [102]:
data = pd.DataFrame(np.random.randn(1000, 4))

In [104]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.003375    -0.021125     0.023937    -0.043373
std       1.007660     0.969126     1.010067     0.994621
min      -2.914282    -2.964153    -2.760854    -3.111716
25%      -0.682074    -0.677020    -0.631451    -0.684237
50%      -0.021979     0.011618     0.023805    -0.040125
75%       0.671684     0.639652     0.680599     0.604880
max       3.213115     2.613664     3.541047     3.566547

In [111]:
col = data[2]
col[np.abs(col) > 3]

540    3.541047
Name: 2, dtype: float64

In [116]:
data[(np.abs(data)>3).any(1)]

            0         1         2         3
122 -1.022206  0.206603  1.427064  3.566547
339  3.185407 -0.109072  1.463154  0.343768
350  3.213115  0.398124  0.230678  0.004988
540 -0.739402 -0.394324  3.541047  0.661172
625  0.832075 -0.516772 -0.936995 -3.111716

In [120]:
data[(np.abs(data)>3)] = np.sign(data) * 3

In [121]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.003773    -0.021125     0.023396    -0.043828
std       1.006431     0.969126     1.008325     0.992382
min      -2.914282    -2.964153    -2.760854    -3.000000
25%      -0.682074    -0.677020    -0.631451    -0.684237
50%      -0.021979     0.011618     0.023805    -0.040125
75%       0.671684     0.639652     0.680599     0.604880
max       3.000000     2.613664     3.000000     3.000000

Permutation and random sampling

In [134]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
sampler = np.random.permutation(5)

In [135]:
df.take(sampler)

    0   1   2   3
2   8   9  10  11
4  16  17  18  19
1   4   5   6   7
3  12  13  14  15
0   0   1   2   3

In [136]:
df.sample(3)

    0   1   2   3
1   4   5   6   7
2   8   9  10  11
4  16  17  18  19

In [139]:
choices = pd.Series([5, 7, -1, 6, 4])

In [145]:
draw = choices.sample(n=5)

In [146]:
draw

4    4
0    5
2   -1
1    7
3    6
dtype: int64

Computer indicator/Dummy variables

In machine learning one hot variable labeling, we need to convert k different label values into k columns with 1 that correspond to the unique values as zero

In [147]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
   .....:                    'data1': range(6)})

In [148]:
df

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b

In [150]:
pd.get_dummies(df['key'], prefix='key')

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [156]:
df[['data1']].join(pd.get_dummies(df['key'], prefix='key'))   # Use .join to combine two dataframes, and .concat for combining Series

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

Practive making indicators for complidated datasets

In [309]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('/notebooks/pydata-book/ch02/movielens/movies.dat', sep='::', header=None,names=mnames)

/usr/local/lib/python3.5/dist-packages/ipykernel/__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

In [310]:
movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [317]:
genre_select = lambda x: x.split('|')[0]

In [328]:
genre_type = movies['genres'].map(genre_select)

In [329]:
genre_type.unique()

array(['Animation', 'Adventure', 'Comedy', 'Action', 'Drama', 'Thriller',
       'Crime', 'Romance', "Children's", 'Documentary', 'Sci-Fi', 'Horror',
       'Western', 'Mystery', 'Film-Noir', 'War', 'Fantasy', 'Musical'], dtype=object)

In [330]:
# Obtain unique names of genres
genre_len = len(genre_type.unique())
movie_num = len(movies)

In [348]:
# We hope to create a dataframe indicating what genre each movie could be assigned
movie_gen = pd.DataFrame(np.zeros((movie_num, genre_len)), columns= genre_type.unique())
dummies = pd.DataFrame(movie_gen, columns=genre_type.unique())

In [349]:
movies_base = pd.DataFrame(movies[['movie_id', 'title']])

In [350]:
movie_gen = movies_base.join(movie_gen )

In [351]:
movie_gen.head()

,movie_id,title,Animation,Adventure,Comedy,Action,Drama,Thriller,Crime,Romance,Children's,Documentary,Sci-Fi,Horror,Western,Mystery,Film-Noir,War,Fantasy,Musical
0,1,Toy Story (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [356]:
for i in range(len(movies)):
    genre_uni = movies['genres'][i].split('|')
    indices = dummies.columns.get_indexer(movies['genres'][i].split('|'))
    dummies.iloc[i, indices] = 1b

In [362]:
dummies.columns

Index(['Animation', 'Adventure', 'Comedy', 'Action', 'Drama', 'Thriller',
       'Crime', 'Romance', 'Children's', 'Documentary', 'Sci-Fi', 'Horror',
       'Western', 'Mystery', 'Film-Noir', 'War', 'Fantasy', 'Musical'],
      dtype='object')

In [360]:
movies_witdic = movies.join(dummies.add_prefix('Genre_'))

In [361]:
movies_witdic

,movie_id,title,genres,Genre_Animation,Genre_Adventure,Genre_Comedy,Genre_Action,Genre_Drama,Genre_Thriller,Genre_Crime,...,Genre_Children's,Genre_Documentary,Genre_Sci-Fi,Genre_Horror,Genre_Western,Genre_Mystery,Genre_Film-Noir,Genre_War,Genre_Fantasy,Genre_Musical
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,6,Heat (1995),Action|Crime|Thriller,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,7,Sabrina (1995),Comedy|Romance,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,8,Tom and Huck (1995),Adventure|Children's,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,9,Sudden Death (1995),Action,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,10,GoldenEye (1995),Action|Adventure|Thriller,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,11,"American President, The (1995)",Comedy|Drama|Romance,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
12,13,Balto (1995),Animation|Children's,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,14,Nixon (1995),Drama,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,15,Cutthroat Island (1995),Action|Adventure|Romance,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,16,Casino (1995),Drama|Thriller,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,17,Sense and Sensibility (1995),Drama|Romance,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,18,Four Rooms (1995),Thriller,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,19,Ace Ventura: When Nature Calls (1995),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,20,Money Train (1995),Action,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,21,Get Shorty (1995),Action|Comedy|Drama,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,22,Copycat (1995),Crime|Drama|Thriller,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,23,Assassins (1995),Thriller,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,24,Powder (1995),Drama|Sci-Fi,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,25,Leaving Las Vegas (1995),Drama|Romance,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,26,Othello (1995),Drama,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,27,Now and Then (1995),Drama,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,28,Persuasion (1995),Romance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3853,3923,Return of the Fly (1959),Horror|Sci-Fi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3854,3924,Pajama Party (1964),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3855,3925,Stranger Than Paradise (1984),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3856,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3859,3929,"Bank Dick, The (1940)",Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3860,3930,"Creature From the Black Lagoon, The (1954)",Horror,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3861,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3862,3932,"Invisible Man, The (1933)",Horror|Sci-Fi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3863,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3864,3934,Kronos (1957),Sci-Fi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3865,3935,Kronos (1973),Horror,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3866,3936,"Phantom of the Opera, The (1943)",Drama|Thriller,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3867,3937,Runaway (1984),Sci-Fi|Thriller,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3868,3938,"Slumber Party Massacre, The (1982)",Horror,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3869,3939,"Slumber Party Massacre II, The (1987)",Horror,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3870,3940,"Slumber Party Massacre III, The (1990)",Horror,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3871,3941,Sorority House Massacre (1986),Horror,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3872,3942,Sorority House Massacre II (1990),Horror,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3873,3943,Bamboozled (2000),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3874,3944,Bootmen (2000),Comedy|Drama,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3875,3945,Digimon: The Movie (2000),Adventure|Animation|Children's,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3876,3946,Get Carter (2000),Action|Drama|Thriller,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3877,3947,Get Carter (1971),Thriller,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3878,3948,Meet the Parents (2000),Comedy,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,3949,Requiem for a Dream (2000),Drama,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,3950,Tigerland (2000),Drama,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,3951,Two Family House (2000),Drama,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,3952,"Contender, The (2000)",Drama|Thriller,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

One of the useful ways of using cut and dummies.get_indexer

In [368]:
sr = pd.Series(np.random.rand(10))

In [369]:
bins = [0.1,0.3,0.5,1]

In [370]:
pd.get_dummies(pd.cut(sr, bins))

   (0.1, 0.3]  (0.3, 0.5]  (0.5, 1]
0           0           0         1
1           1           0         0
2           0           0         1
3           0           0         1
4           1           0         0
5           0           1         0
6           0           0         0
7           0           0         1
8           0           0         1
9           0           1         0

### String manipulation

String object Methods

In [371]:
val = 'a,b,  guido'

In [377]:
val.split(',')

['a', 'b', '  guido']

In [408]:
pieces = [x.strip() for x in val.split(',')]

In [409]:
pieces

['a', 'b', 'guido']

In [416]:
ind_arr = [1, 2, 3]

In [417]:
first, second, third = pieces

In [422]:
d = list(zip(pieces, ind_arr))

In [423]:
print(d)

[('a', 1), ('b', 2), ('guido', 3)]

In [424]:
e, f = zip(*d)

In [425]:
e

('a', 'b', 'guido')

In [426]:
f

(1, 2, 3)

Regular expression

Regular expressions provide a flexible way to  search or match  string patterns  in text .
re module could be subdivided into three categories: pattern matching,  substitution,  and splitting

In [427]:
import re

In [428]:
text = "foo    bar\t baz  \tqux"

In [429]:
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

In [430]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

In [431]:
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [432]:
regex = re.compile(pattern, flags=re.IGNORECASE)

In [433]:
pattern

'[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,4}'

In [434]:
text

'Dave dave@google.com\nSteve steve@gmail.com\nRob rob@gmail.com\nRyan ryan@yahoo.com\n'

In [435]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [439]:
regex.match(text)

In [441]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
   .....: 		'Rob': 'rob@gmail.com', 'Wes': np.nan}

In [442]:
data

{'Dave': 'dave@google.com',
 'Rob': 'rob@gmail.com',
 'Steve': 'steve@gmail.com',
 'Wes': nan}

In [443]:
data = pd.Series(data)

In [444]:
data

Dave     dave@google.com
Rob        rob@gmail.com
Steve    steve@gmail.com
Wes                  NaN
dtype: object