In [33]:
from collections import defaultdict
import numpy as np
import pandas as pd

### Random Variable

In [15]:
# Create a dictionary with all the possible combinations and sums
d = {(i,j): i+j for i in range(1, 7) for j in range(1, 7)}

In [16]:
# Group the combination based on sum. Use defaultdict that enable a default value
dinv = defaultdict(list)
for i, j in d.items():
    dinv[j].append(i)

In [14]:
dinv[7]

[(1, 6), (2, 5), (3, 4), (6, 1), (5, 2), (4, 3)]

In [17]:
x = {i: len(j)/36 for i, j in dinv.items()}

What is the probability that half the product of three dice will exceed the their sum?

In [29]:
d2 = {(i,j,k): (i * j * k)/2 > np.sum([i,j,k])  for i in range(1, 7) for j in range(1,7) for k in range(1,7)}

In [30]:
d_map = defaultdict(list)
for m, n in d2.items():
    d_map[n].append(m)

In [31]:
p = {i:len(j)/len(d2) for i, j in d_map.items()}

In [32]:
p

{False: 0.37037037037037035, True: 0.6296296296296297}

In [102]:
# Use pandas to look in to probability
df = pd.DataFrame(index=[(i,j) for i in range(1,7) for j in range(1,7)], columns=['sm','d1','d2','pd1','pd2','p'])

In [103]:
df.head()

         sm   d1   d2  pd1  pd2    p
(1, 1)  NaN  NaN  NaN  NaN  NaN  NaN
(1, 2)  NaN  NaN  NaN  NaN  NaN  NaN
(1, 3)  NaN  NaN  NaN  NaN  NaN  NaN
(1, 4)  NaN  NaN  NaN  NaN  NaN  NaN
(1, 5)  NaN  NaN  NaN  NaN  NaN  NaN

In [107]:
df.index

Index([(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3),
       (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6),
       (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3),
       (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)],
      dtype='object')

In [105]:
# Populate the table
df.d1 = [i[0] for i in df.index]
df.d2 = [i[1] for i in df.index]

In [106]:
df.sm = df.d1 + df.d2
# df.sm = df.index.map(sum)

In [108]:
# df.pd1 = [1/9 if i in [1,2,3] else 2/9 for i in df.d1]
# df.pd2 = [1/6 for i in df.d2]

df.loc[df.d1<3, 'pd1']=1/9
df.loc[df.d1>=3, 'pd1']=2/9
df.loc[:,'pd2']=1/6

In [109]:
df.p = df.pd1 * df.pd2

In [110]:
df_sum = df[['sm', 'p']].groupby(['sm']).agg({'p':'sum'})

In [111]:
df.sm.to_frame().describe()

             sm
count  36.00000
mean    7.00000
std     2.44949
min     2.00000
25%     5.00000
50%     7.00000
75%     9.00000
max    12.00000

In [113]:
df_sum.head()

           p
sm
2   0.018519
3   0.037037
4   0.074074
5   0.111111
6   0.148148

### Continuous random variable

Simulate rolling die data

In [114]:
# Sample from uniform distribution
u = np.random.uniform(0,1,1000)

In [125]:
df = pd.DataFrame(data=u, columns=['u'])

In [131]:
labels = [1,2,3,4,5,6]
df['v'] = pd.cut(df.u, np.linspace(0,1,7), labels=labels)

In [133]:
df.head()

          u  v
0  0.031195  1
1  0.718812  5
2  0.029273  1
3  0.993544  6
4  0.503865  4

### Statistics

In [134]:
import scipy.stats as st

In [135]:
n = st.norm(0,10)

In [139]:
n.rvs(10)

array([ 0.38626251,  0.01096109,  1.0127422 , -0.41611313,  1.65298443,
        0.7026924 , -0.9756411 ,  1.64515482, -0.05416468, -0.71895341])