In [1]:
import pandas as pd

In [2]:
movie = pd.read_csv('/data/Pandas_data/movie.csv')

### The very basic

In [5]:
movie.head(n=3)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

In [6]:
movie.tail(n=3)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [7]:
movie.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [13]:
movie.get_dtype_counts()

float64    13
int64       3
object     12
dtype: int64

Each dataframe column must be exactly one type.Object type allows mixture of multipe datatypes.

In [19]:
movie.select_dtypes(include=['object']).head(n=3)

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating
0,Color,James Cameron,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,Wes Studi,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,PG-13
1,Color,Gore Verbinski,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,Jack Davenport,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,English,USA,PG-13
2,Color,Sam Mendes,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,Stephanie Sigman,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,English,UK,PG-13

In [24]:
movie['color'].head()

0    Color
1    Color
2    Color
3    Color
4      NaN
Name: color, dtype: object

Although both movie['color'] and movie.color could be used to access data, the first approach is more recommended. Less prone to error.

In [26]:
movie_color = movie.color.to_frame()

### Explore series attributes and methods

In [27]:
director = movie['director_name']

In [28]:
actor1_fb_likes = movie['actor_1_facebook_likes']

In [29]:
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [30]:
actor1_fb_likes.head()

0     1000.0
1    40000.0
2    11000.0
3    27000.0
4      131.0
Name: actor_1_facebook_likes, dtype: float64

In [33]:
director.value_counts(sort=False).head()

Barry W. Blaustein    1
Gareth Edwards        1
Will Canon            1
Mike Leigh            5
James Watkins         2
Name: director_name, dtype: int64

In [56]:
actor1_fb_likes.value_counts(normalize=True).head()

1000.0     0.088816
11000.0    0.041964
2000.0     0.038501
3000.0     0.030556
12000.0    0.026686
Name: actor_1_facebook_likes, dtype: float64

In [42]:
director.to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 1 columns):
director_name    4814 non-null object
dtypes: object(1)
memory usage: 38.5+ KB

In [43]:
director.count()

4814

In [45]:
director.shape

(4916,)

count method return number of non-missing values, shape return all the values

In [47]:
director.isnull().head()

0    False
1    False
2    False
3    False
4    False
Name: director_name, dtype: bool

In [49]:
director.dropna(inplace=True)

In [50]:
director.shape

(4814,)

In [55]:
actor1_fb_likes.quantile(0.2)

510.0

In [58]:
actor1_fb_likes.hasnans

True

In [61]:
actor1_fb_likes.notnull().head()

0    True
1    True
2    True
3    True
4    True
Name: actor_1_facebook_likes, dtype: bool

In [62]:
imdb_score = movie.imdb_score

In [66]:
(imdb_score + 1).to_frame().head()

   imdb_score
0         8.9
1         8.1
2         7.8
3         9.5
4         8.1

In [67]:
imdb_score.head()

0    7.9
1    7.1
2    6.8
3    8.5
4    7.1
Name: imdb_score, dtype: float64

In [80]:
movie2 = movie.set_index('movie_title', drop=False).head()

In [82]:
movie2.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [83]:
movie_indexed = pd.read_csv('/data/Pandas_data/movie.csv', index_col='movie_title')

In [85]:
movie_indexed.reset_index(inplace=True)

In [86]:
movie_indexed.head()

,movie_title,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [88]:
idx_rename = {'Avatar':'Ratava', 'Spectre': 'Ertceps'}
col_rename = {'director_name':'Director Name', 'num_critic_for_reviews': 'Critical Reviews'}

movie.rename(index=idx_rename, columns=col_rename, inplace=True)

In [90]:
index_list = movie.index.tolist()
col_list = movie.index.tolist()

In [92]:
movie.index = index_list
movie.col = col_list

In [96]:
profit_index = movie.columns.get_loc('gross')+1
movie.insert(loc=profit_index, column='profit', value=movie['gross']-movie['budget'])

### Essential dataframe operations

In [101]:
movie_actor_director = movie[['actor_1_name', 'actor_2_name', 'actor_3_name']]

In [102]:
movie_actor_director.head(n=3)

      actor_1_name      actor_2_name      actor_3_name
0      CCH Pounder  Joel David Moore         Wes Studi
1      Johnny Depp     Orlando Bloom    Jack Davenport
2  Christoph Waltz      Rory Kinnear  Stephanie Sigman

In [106]:
movie[['actor_1_name']].head(3)

      actor_1_name
0      CCH Pounder
1      Johnny Depp
2  Christoph Waltz

In [108]:
movie.filter(like='facebook').head(3)

,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,cast_total_facebook_likes,actor_2_facebook_likes,movie_facebook_likes
0,0.0,855.0,1000.0,4834,936.0,33000
1,563.0,1000.0,40000.0,48350,5000.0,0
2,0.0,161.0,11000.0,11700,393.0,85000

In [109]:
movie.filter(regex='\d').head(3)

,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,actor_3_name,actor_2_facebook_likes
0,855.0,Joel David Moore,1000.0,CCH Pounder,Wes Studi,936.0
1,1000.0,Orlando Bloom,40000.0,Johnny Depp,Jack Davenport,5000.0
2,161.0,Rory Kinnear,11000.0,Christoph Waltz,Stephanie Sigman,393.0

In [111]:
movie.filter(items=['actor_2_name', 'abc']).head(3)

       actor_2_name
0  Joel David Moore
1     Orlando Bloom
2      Rory Kinnear

In [114]:
movie.isnull().sum().head()

color                       19
Director Name              102
Critical Reviews            49
duration                    15
director_facebook_likes    102
dtype: int64

In [132]:
college = pd.read_csv('/data/Pandas_data/college.csv')
college.set_index('INSTNM', inplace=True)

In [133]:
college_ugds_ = college.filter(like='UGDS_')
(college_ugds_.head(3)+5).round(2)

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,5.03,5.94,5.01,5.00,5.0,5.0,5.00,5.01,5.01
University of Alabama at Birmingham,5.59,5.26,5.03,5.05,5.0,5.0,5.04,5.02,5.01
Amridge University,5.30,5.42,5.01,5.00,5.0,5.0,5.00,5.00,5.27

In [127]:
college_ugds_.sum(axis=1).head(3)

INSTNM
Alabama A & M University               1.0000
University of Alabama at Birmingham    0.9999
Amridge University                     1.0000
dtype: float64

In [134]:
college_ugds_.cumsum(axis=1).head(3)

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9686,0.9741,0.9760,0.9784,0.9803,0.9803,0.9862,1.0000
University of Alabama at Birmingham,0.5922,0.8522,0.8805,0.9323,0.9345,0.9352,0.9720,0.9899,0.9999
Amridge University,0.2990,0.7182,0.7251,0.7285,0.7285,0.7285,0.7285,0.7285,1.0000

In [137]:
diversity = pd.read_csv('/data/Pandas_data/college_diversity.csv', index_col='School')

In [138]:
diversity.head(3)

                                         Diversity Index
School
Rutgers University--Newark  Newark, NJ              0.76
Andrews University  Berrien Springs, MI             0.74
Stanford University  Stanford, CA                   0.74

In [140]:
college_ugds_ = college.filter(like='UGDS')
college_ugds_ = college_ugds_.dropna(how='all')

In [145]:
diversity_metric = college_ugds_.ge(.15).sum(axis=1)

In [146]:
diversity_metric.value_counts()

2    3042
3    2884
4     876
5      63
0       7
6       2
dtype: int64

In [148]:
diversity_metric.sort_values(ascending=False).head(3)

INSTNM
Regency Beauty Institute-Austin          6
Central Texas Beauty College-Temple      6
Sullivan and Cogliano Training Center    5
dtype: int64